<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.zdxb.Servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index.action</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QueryServlet</servlet-name>
        <servlet-class>com.zdxb.Servlet.ManuscriptQueryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryServlet</servlet-name>
        <url-pattern>/query.action</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowServlet</servlet-name>
        <servlet-class>com.zdxb.Servlet.ShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManuflowQueryServlet</servlet-name>
        <servlet-class>com.zdxb.Servlet.ManuflowQueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowtableServlet</servlet-name>
        <servlet-class>com.zdxb.Servlet.ShowtableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowtableServlet</servlet-name>
        <url-pattern>/showtable.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManuflowQueryServlet</servlet-name>
        <url-pattern>/flowquery.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowServlet</servlet-name>
        <url-pattern>/show.action</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IntroductionServlet</servlet-name>
        <servlet-class>com.zdxb.Servlet.IntroductionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IntroductionServlet</servlet-name>
        <url-pattern>/introduction.action</url-pattern>
    </servlet-mapping>
</web-app>